/* font */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* icon */
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-thin-rounded/css/uicons-thin-rounded.css');

:root{
  --font-lexed:'Lexend Mega', sans-serif;
  --font-ps:'Public Sans', sans-serif;
  --font-ab:'Archivo Black', sans-serif;
  --color-back:#fdcc83;
  --color-yellow:#ffdb58;
  --color-red:#ff7a5c;
  --color-blue:#5c82ff;
  --color-green:#90ee90;
  --color-green:#daee90;
  --color-gray:rgb(187, 187, 187);
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

html{
  scroll-behavior: smooth;
}

body{
  font: var(--font-ps);
}

/* navigasi */
  nav{
    display: flex;
    justify-content: space-between;
    background:var(--color-yellow);
    border: 3px solid black;
    border-left: 0;
    border-right: 0;
    padding: 0 0 0 7%;
    align-items: center;
    
  }

  .logo{
    font-family: var(--font-lexed);
    font-size: 1.1rem;
    font-weight: 700;
  }

  nav button{
    border-bottom: 0;
    border-top: 0;
    border-right: 0;
    font-size: 1rem;
    background:black;
    padding: 1rem 3rem;
    font-family: var(--font-ps);
    font-weight: 700;
    color: white;
  }

  nav button:hover{
    background: var(--color-yellow);
    color: black;
  }
/* end navigasi */

/* main */
  main{
    display: flex;
    justify-content: space-between  ;
    padding: 8rem 7%;
    align-items: center;
    height: 1vr ;
  }

  main .judul h1{
    font-family: var(--font-lexed);
    font-size: 2.5rem;
  }

  main .judul p {
    font-size: 1.5rem;
    font-family: var(--font-ps);
    font-weight: 600;
    padding-bottom: 2rem;
  }

  main .judul p span{
    font-style: italic;
    color: #ff4911;
    text-transform:capitalize;
  }

  main a{
    color: black;
    padding: .8rem 5rem;
    font-size: 1rem;
    border: 3px solid black;
    background:var(--color-yellow);
    border-radius: 10px ;
    font-family: var(--font-ps);
    font-weight: 700;
    text-align: center;
    box-shadow:5px 5px 0 black ;
  }

  main a:active {
    background:var(--color-yellow);
    box-shadow:0 0 0 black;;
    transform: translateY(4px);
  }

  main img  {
    width: 500px;
  }
/* end main */

/* footer */
  footer{
    position: absolute;
    width: 100%;
    font-family: var(--font-ps);
    color: black;
    margin-top: 40px;
    font-size: 1em;
  }

  footer h4{
    position: relative;
    text-align: center;    
  }
/* end footer */

/* login */
  .container{
    display: flex;
    justify-content: space-between;
    height: min-content;
    background-color: whitesmoke;
    position: absolute;
    border: 3px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    font-family: var(--font-ps);
    box-shadow: 10px 10px 0 black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  .container .login{
    padding: 20px;
  }

  .container .login a{
    color: black;
    padding: 6px 2rem;
    border: 3px solid black;
    background:var(--color-yellow);
    border-radius: 10px ;
    font-family: var(--font-ps);
    font-weight: 700;
    text-align: center;
    box-shadow:3px 3px 0 black ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}


.container .login a:active {
    box-shadow:0 0 0 black;;
    transform: translateY(4px);
  }

  .container .form-login{
    text-align: center;
    padding-top: 50px;
    line-height: 60px;
    
  }

  .form-login input {
    width: 300px;
    height: 30px;
    outline: none;
    border-bottom: 3px solid rgb(71, 71, 71);
    background-color: transparent;
    font-size: 1.1rem;
    padding-left: 4px;    
}

  .form-login ul{
    padding-bottom: 40px;
  }

  .form-login button{
    padding: 10px;
    width: 200px;
    box-shadow: 5px 5px 0 black;
    outline: none;
    background-color: var(--color-yellow);
    border: 3px solid black;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}


  .form-login  button:active {
    background:var(--color-yellow);
    box-shadow:0 0 0 black;;
    transform: translateY(4px);
  }

  .container img{
    position:sticky;
    background-color: var(--color-yellow);
    background-size: contain;
    width: 500px;
    height: 400px;
    background-clip: padding-box;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* end login */

/* sidebar */
  .sidebar{
    position: fixed;
    width: 200px;
    margin-left: 10%;
    line-height: 50px;
  }

  .sidebar .logo{
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
  }

  .menu ul li {
    display: block;
    background: var(--color-yellow);
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 3px solid black;
    box-shadow: 5px 5px 0 black;
}

  .menu ul li:hover{
    background: #ffce1b;
  }


  .menu ul li a {
    font-family: var(--font-ps);
    display: flex;  
    color: black;
    justify-content: flex-start;
    padding-left: 20px;   
  }

  .menu ul li .fi{
    font-size: 20px;
    align-items: center;
  }

  .menu ul li a span{
    margin-left: 10px;
  }

/* end sidbear */

/* navigasi */
  /* Style The Dropdown Button */
.navigasi{
  display: flex;
  justify-content: flex-end;

}
.dropbtn {
  background: white;
  color: black;
  font-size: 1rem;
  padding: 6px;
  border: 3px solid black;
  cursor: pointer;
  box-shadow: 5px 5px 0 black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dropbtn img{
  width: 35px;
}

.dropbtn span{
  margin-left: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px 10%;
  right: 0;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  margin-top: 10px;
  margin-left: 3px;
  box-shadow: 5px 5px 0 black;
  border: 3px solid black;
  z-index: 1;
  border-radius: 5px;
  font-family: var(--font-ps);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(233, 232, 232);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.content{
  margin-left: 28%;
  margin-right: 10%;
  padding-top: 5px;
  font-family: var(--font-ps);
}

.head{
  display: flex;
  justify-content: space-evenly;
  padding:20px;
  align-items: center;
  font-family: var(--font-lexed);
  background:var(--color-yellow);
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0 black;
  margin-bottom: 20px;
}

.head-menu{
  display: flex;
  justify-content:center;
  padding: 10px 100px;
  width: 100%;
  height: 100px;
  align-items: center;
  font-family: var(--font-lexed);
  background-color: var(--color-yellow);
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 0 black;
  margin-bottom: 20px;
  
}

.head .judul h4{
  font-family: var(--font-ps);
}

.content .head img{
  width: 300px ;
  text-align: center;
}

.conten{
  display: flex;
  justify-content: space-between;
}

.conten2{
  display: flex;
  justify-content: space-between;
}

.kotak{
  background-color: white;
  box-shadow: 5px 5px 0 black;
  width: max-content;
  border: 3px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.kotak .kriteria img {
  width: 200px;
  padding-top:20px;
  background-color: var(--color-red);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.kotak .subkriteria img {
  width: 200px;
  height: 177px;
  padding-top:70px;
  background-color: var(--color-green);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}

.kotak .alternatif img {
  width: 200px;
  height: 177px;
  padding-top:20px;
  background-color: var(--color-back);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.kotak .users img {
  width: 200px;
  height: 177px;
  padding-top:20px;
  background-color: var(--color-blue);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.kotak .banyak{
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.banyak .angka{
  font-family: var(--font-ab);
}
/* endnavigasi */

/* kelola */
  .kelola{
    background-color: white;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 0 black;
  }

  .sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .sub .cari input{
    border: 1px solid black;
    font-size: 1rem;
    padding: 4px ;
    
  }

  .sub .cari button{
    border: 1px solid black;
    padding:5px 15px;
    color: black;  
    background-color: rgb(199, 199, 199);
  }

  .sub .cari button:hover{
    background-color: rgb(131, 131, 131);
  }


  .sub a {
    background-color: var(--color-red);
    padding:5px 15px;
    border-radius: 5px ;
    color: black;
    border: 3px solid black;
    box-shadow: 3px 3px 0 black;
}
  
.sub a:hover{
  background-color: #fa5a36;
}

  .sub a:active{
    box-shadow: 1px 1px 0 black;
    transform: translateX(-4);
    -webkit-transform: translateX(-4);
    -moz-transform: translateX(-4);
    -ms-transform: translateX(-4);
    -o-transform: translateX(-4);
}

.table{
  padding-top: 20px;
  font-size: 1.1rem;
  display: flex;
  box-sizing: border-box;
}

  table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 5px 5px 0 black;
}

  table, th, td {
    text-align: center;
    border: 3px solid black;
  }

  tr td img{
    width: 400px;
    padding-top: 50px;
  }

  tr td h3{
    font-weight: 200;
    padding: 30px 0;
  }


  th{
    padding: 20px;
    background-color: var(--color-yellow);
    color: black;    
  }

  td{
    padding: 8px;
  }

  .table a {
    color: black;
    padding: 2px;
    font-size: 1.2rem;
    padding: 5px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


  .table .edit{
    background: var(--color-blue);
    box-shadow: 3px 3px 0 black;
  }

  .table .delete{
    background: var(--color-red);
    box-shadow: 3px 3px 0 black;
  }

  .table .delete:hover{
    background-color: #fa5a36;
  }

/* form input */
.form-input{
  padding-top: 20px;
}

.form-input form{
  display: flex;
  justify-content:space-around;
  align-items: center;

}

.form-input ul  {
  z-index: 999;
}

.form-input ul li {
  font-size: 1.1rem;
  padding-bottom: 15px;
  font-weight: 600;
}

.form-input button{
  margin-top: 5px;
  outline: none;
  padding: 8px 15%;
  background: var(--color-blue);
  border: 3px solid black;
  box-shadow: 3px 3px 0 black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.form-input input, select{
  width: 140%;
  font-size: 1rem;
  padding: 2px 3px;
  border-bottom: 3px solid rgb(71, 71, 71);
}

.form-input form img{
  width: 400px;
  height: 300px;
  background-color: var(--color-yellow);
  padding: 20px;
  box-shadow: 10px 10px 0 black;
  border: 3px solid black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.pagination{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-gray);
  padding: 10px;
  background: var(--color-yellow);
  border-radius: 10px;
  box-shadow: 5px 5px 0 black;
  border: 3px solid black;
}
.page{
  color: black;
  padding: 4px 10px;
  text-decoration: none;
  transition: background-color .3s;
}

.active{
  background: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.page:hover{
  background-color: var(--color-red);
  border-radius: 5px;
}